{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-12 w3-center">
                    <h2>{{ user.username }}</h2>
                    {% set  filter= app.session.get('user') %}
                    {% if filter %}
                        {% set profile_image_path = filter['profile_image_path'] %}
                        <a href="{{ url('profile', {'id':app.user.id}) }}">
                            <img src="{{ asset(profile_image_path) }}" class="w3-circle w3-margin-right"
                                 style="width:100px;border-radius:0;margin-bottom: 30px;">
                        </a>
                    {% endif %}
                    <div>
                        <div class="pull-left">
                            <a class="btn btn-small btn-warning" href="{{ path('update_profile',{'id':app.user.id}) }}">Edit</a>
                            <a class="btn btn-small btn-success" href="{{ path('update_image',{'id':app.user.id}) }}">Update image</a>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-small btn-info" href="{{ path('content',{'id':app.user.id}) }}">Cloudinary content</a>
                            <a class="btn btn-small btn-default" href="{{ path('content',{'id':app.user.id}) }}">Upload content to Cloudinary</a>
                        </div>


                    </div>
                </div>
                <div class="col-sm-12">
                    <table class="w3-table-all w3-hoverable">
                        <tbody>
                        <tr>
                            <td>Email:</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Country:</td>
                            <td>{{ (user.profile and user.profile.country)?user.profile.country:"" }}</td>
                        </tr>
                        <tr>
                            <td>City:</td>
                            <td>{{ (user.profile and user.profile.city)?user.profile.city:"" }}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{ (user.profile and user.profile.phone)?user.profile.phone:"" }}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>{{ (user.profile and user.profile.status)?user.profile.status:"" }}</td>
                        </tr>
                        <tr>
                            <td>Created at:</td>
                            <td>{{ (user.profile and user.profile.createDate)?user.profile.createDate| date('Y-m-d H:i:s'):"" }}</td>
                        </tr>
                        <tr>
                            <td>Updated at:</td>
                            <td>{{ (user.profile and user.profile.updateAt)?user.profile.updateAt| date('Y-m-d H:i:s'):"" }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
